node_modules/
applypatch-msg
commit-msg
post-applypatch
post-checkout
post-merge
post-rewrite
post-update
pre-applypatch
pre-auto-gc
pre-rebase
pre-receive
prepare-commit-msg
post-commit
post-receive
pre-commit
!hooks/*
stderr.log
stdout.log
*.d/
